<div class="container">
  <div class="row">

    <h1 class="topics-header">Topics</h1>

    <div class="topics-list col-md-10 col-md-offset-1">
      <p id="notice"><%= notice %></p>

      <table>
        <thead>
          <tr>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @topics.each do |topic| %>
            <tr class='topic-row'>
              <td><div class="arrow-up" id="<%= topic.id %>" /></td>
              <td><div class="arrow-down" id="<%= topic.id %>" /></td>
              <td class="score"><%= topic.votes.count %></td>
              <td><%= link_to topic.title, topic, :class => "topic-title"%></td>
              <td class="remove-topic">
                <%= link_to topic, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="glyphicon glyphicon-remove"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to '+ Topic', new_topic_path, :class => 'add-topic' %>
    </div>
  </div>
</div>